.txt-center {
    text-align: center;
}

img.icon {
    width: 50px;
    float: left;
}

table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 40px;
    padding: 5px 5px;
    border: 1px solid #585552;
    border-radius: 5px;
}

input[type="text"] {
    width: 230px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 5px;
}

input[type="submit"] {
    width: 100px;
    color: #198754;
    font-weight: 500;
    background-color: white;
    border-color: #198754;
    transition: 0.3s;
}

input[type="submit"]:hover {
    color: white;
    background-color: #198754;
}